<%= form_with model: [@category, @idea] do |form| %>
  <div class="space-y-6 mt-2">
    <div class="md:w-3/5">
      <label class="text-gray-700" for="title"><%= t('ideas.form.title') %></label>
      <%= form.text_field :title, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" %>
      <p class="text-xs text-red-400">
        <%= @idea.errors[:title].join(" ") %>
      </p>
    </div>
    <div class="md:w-3/5">
      <label class="text-gray-700" for="body"><%= t('ideas.form.body') %></label>
      <%= form.text_area :body, rows: 10, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" %>
      <p class="text-xs text-red-400">
        <%= @idea.errors[:body].join(" ") %>
      </p>
    </div>
    <div class="md:w-3/5">
      <label class="text-gray-700" for="rank"><%= t('ideas.form.rank') %></label>
        <%= form.select :rank,
        Idea.ranks_i18n.invert,
        {},
        { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" } %>
    </div>
    <% if @idea.persisted? %>
      <div class="md:w-3/5">
        <label class="text-gray-700" for="status"><%= t('ideas.form.status') %></label>
        <%= form.select :status,
          Idea.statuses_i18n.invert,
          {},
          { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" } %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-start mt-6 gap-2">
    <%= form.submit t('ideas.form.submit'), class: "px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600" %>
    <%= link_to "戻る", :back, class: "px-8 py-2.5 leading-5 text-gray-500 transition-colors duration-300 transform bg-transparent border border-gray-300 rounded-md hover:bg-gray-100 hover:text-gray-600 focus:outline-none focus:ring-1 focus:ring-gray-300" %>
  </div>
<% end %>
